<div class="card mb-3">
    <div class = "review-header">
        <h6 class = "review-user">Posted by {{user.username}} on {{created_at}}</h4>
    </div>
    <div class = "review-content">
        <p>{{content}}</p>
    </div>
</div>