<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Review</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body class="bg-dark text-white mt-3">
  <header class="">
    <h1 class = "text-center" >
      Book Review
    </h1>
  </header>
  <main class="">
    <!-- Render the contents of the sub layout here -->
    
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>
<script src="/js/add-review.js"></script>
</html>
