<div class="container-fluid">
    <div class="row">

         {{!-- Side bar --}}


         {{!-- Trending / popular things --}} 
        <div class="col-xl-3">
            <div class="card bg-opacity-25 bg-primary" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title custom-gray">Popular Reviews</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted"></h6>
                            <p class="card-text">A list of popular reviews could go here</p> -->

                     {{!-- list of popular reviews --}} 

                    <ul class="list-group">
                        <li class="list-group-item bg-opacity-25 bg-primary text-light ">An item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">A second item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">A third item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">A fourth item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">And a fifth one</li>
                    </ul>
                    <!-- <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>

            <div class="card card bg-opacity-25 bg-primary mt-3" style="width: 22rem;">
                <div class="card-body">
                    <h5 class="card-title custom-gray">Most reviewed books</h5>
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">List of most reviewed books could go here</p> -->

                     {{!-- List of most reviewed books --}}

                    <ul class="list-group">
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">An item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">A second item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">A third item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">A fourth item</li>
                        <li class="list-group-item bg-opacity-25 bg-primary text-light">And a fifth one</li>
                    </ul>
                    <!-- <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a> -->
                </div>
            </div>
        </div>

         {{!-- Main content --}}

        <div class="col-xl-7">

            {{!-- Post review --}} 

            <div class="form-signin text-center">
                <h3 class="h3 text-center custom-gray fw-bold">What's your review?</h3>
                <form class="card-body" id="add-review-form">
                    <div class="form-floating mb-3 bg-opacity-25 bg-primary">
                        <label for="book-title" class="form-label"></label>
                        <input type="text" id="book-title" name="book-title"
                            class="form-input w-100 bg-opacity-25 bg-primary text-light p-1" autofocus="true"
                            placeholder="Enter Book Title" />
                        <label for="book-author" class="form-label"></label>
                        <input type="text" id="book-author" name="book-author"
                            class="form-input w-100 bg-opacity-25 bg-primary text-light p-1" autofocus="true"
                            placeholder="Enter Book Author" />
                    </div>

                    <div class="form-floating mb-3">
                        <label class="form-label" for="content"></label>
                        <textarea id="content" name="review_content"
                            class="form-input w-100 bg-opacity-25 bg-primary text-light p-1" aria-label="With textarea"
                            autofocus="true" placeholder="Type your review here..."></textarea>
                    </div>

                    <button type="submit" class="w-25 btn btn-sm custom-accent-background mb-3 fw-bold">Submit</button>
                </form>
            </div>

            {{!-- list items of reviews from people following / friends, will need to be dyanmically created --}}


            <article class="post">

                {{#each reviews as |review| }}
                {{> review-info review}}
                {{/each}}

            </article>

        </div>

        {{!-- Nav/Menu --}}

        <div class="col-xl-2">
            <ul class="nav flex-column">
                <li class="text-white border border-light rounded p-2 fw-bold">
                    Shelf
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Discover</a>
                </li>
            </ul>
        </div>
    </div>
</div>