
<div class="container-fluid">
    <div class="row">
        <div class="col-8">

        {{!-- Brand image card --}}

            <div class="card bg-dark text-white">
                <img src="../public/images/placeholder.png" class="card-img" alt="placeholder image">
                <div class="card-img-overlay">
                    <h5 class="card-title">Welcome to [book-review]</h5>
                    <p class="card-text">Read reviews from your friends on what they are reading</p>
                    <p class="card-text">other text here if we need it</p>
                </div>
            </div>
        </div>

        {{!-- Login card --}}

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <img src="../public/images/placeholder.png" class="card-img-top" alt="placeholder image">
                <div class="card-body">
                    <h5 class="card-title">Log-in</h5>
                    <p class="card-text">Login using one of the options below</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Google</li>
                    <li class="list-group-item">Facebook</li>
                    <li class="list-group-item">Whatevery other logins we use</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Or sign up here with email and password</a>
                    <a href="#" class="card-link">Here</a>
                </div>
            </div>
        </div>
    </div>>
</div>